{% load static %}

<!--<section class="latest-blog spad">
</section>-->
<div class="row">
    <hr>
</div>

<!-- Latest News Section Begin -->
<section class="latest-blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>HABERLER</h2>
                </div>
            </div>
        </div>
        <div class="row">

            {% for rs in news %}
            <div class="col-lg-3 col-md-6">
                <div class="single-latest-blog">
                    <img src="{{rs.image.url}}" alt="" style="height:200px">
                    <div class="latest-text">
                        <div class="tag-list">
                            <div class="tag-item">
                                <i class="fa fa-calendar-o"></i>
                                {{rs.update_at}}
                            </div>
                            <div class="tag-item">
                                <i class="fa fa-comment-o"></i>
                                5
                            </div>
                        </div>
                        <a href="/content/{{ rs.id }}/{{ rs.slug }}">
                            <h4>{{rs.title}}</h4>
                        </a>
                        <p>{{rs.description}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Latest News Section End -->

<!-- Latest Announcements Section Begin -->
<section class="latest-blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>DUYURULAR</h2>
                </div>
            </div>
        </div>
        <div class="row">

            {% for rs in announcements %}
            <div class="col-lg-3 col-md-6">
                <div class="single-latest-blog">
                    <img src="{{rs.image.url}}" alt="" style="height:200px">
                    <div class="latest-text">
                        <div class="tag-list">
                            <div class="tag-item">
                                <i class="fa fa-calendar-o"></i>
                                {{rs.update_at}}
                            </div>
                            <div class="tag-item">
                                <i class="fa fa-comment-o"></i>
                                5
                            </div>
                        </div>
                        <a href="/content/{{ rs.id }}/{{ rs.slug }}">
                            <h4>{{rs.title}}</h4>
                        </a>
                        <p>{{rs.description}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Latest Announcements Section End -->

<!-- Deal Of The Week Section Begin-->
{% for rs in resident %}
<div class="section-title">
    <h2>{{rs.title}}</h2>
</div>
<section class="deal-of-week set-bg spad" data-setbg="{{rs.image.url}}">
    <div class="container">
        <div class="col-lg-6 text-center">
            <div class="section-title">
                <a href="/content/{{ rs.id }}/{{ rs.slug }}"><p>{{rs.description}}</p></a>
                <div class="product-price">
                    {{rs.detail | safe}}
                </div>
            </div>
            <div class="countdown-timer" id="countdown">
                <div class="cd-item">
                    <span>56</span>
                    <p>Days</p>
                </div>
                <div class="cd-item">
                    <span>12</span>
                    <p>Hrs</p>
                </div>
                <div class="cd-item">
                    <span>40</span>
                    <p>Mins</p>
                </div>
                <div class="cd-item">
                    <span>52</span>
                    <p>Secs</p>
                </div>
            </div>
            <a href="/user/payments" class="primary-btn">AİDAT ÖDE</a>
        </div>
    </div>
</section>
{% endfor %}
<!-- Deal Of The Week Section End -->

<!-- Latest Blog Section Begin -->
<section class="latest-blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>EN SON İÇERİKLER</h2>
                </div>
            </div>
        </div>
        <div class="row">

            {% for rs in lastcontents %}
            <div class="col-lg-3 col-md-6">
                <div class="single-latest-blog">
                    <img src="{{rs.image.url}}" alt="" style="height:200px">
                    <div class="latest-text">
                        <div class="tag-list">
                            <div class="tag-item">
                                <i class="fa fa-calendar-o"></i>
                                {{rs.update_at}}
                            </div>
                            <div class="tag-item">
                                <i class="fa fa-comment-o"></i>
                                5
                            </div>
                        </div>
                        <a href="/content/{{ rs.id }}/{{ rs.slug }}">
                            <h4>{{rs.title}}</h4>
                        </a>
                        <p>{{rs.description}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Latest Blog Section End -->

<!-- Random Blog Section Begin -->
<section class="latest-blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>RASGELE İÇERİKLER</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for rs in randomcontents %}
            <div class="col-lg-3 col-md-6">
                <div class="single-latest-blog">
                    <img src="{{rs.image.url}}" alt="" style="height:200px">
                    <div class="latest-text">
                        <div class="tag-list">
                            <div class="tag-item">
                                <i class="fa fa-calendar-o"></i>
                                {{rs.update_at}}
                            </div>
                            <div class="tag-item">
                                <i class="fa fa-comment-o"></i>
                                5
                            </div>
                        </div>
                        <a href="/content/{{ rs.id }}/{{ rs.slug }}">
                            <h4>{{rs.title}}</h4>
                        </a>
                        <p>{{rs.description}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Random Blog Section End -->
