{% extends 'homebase.html' %}
{% load static %}
{% block title %} {{ content.title }} {% endblock %}
{% block keywords %} {{ content.keywords }} {% endblock %}
{% block description %} {{ content.description }} {% endblock %}

{% block head %}
<link rel="shortcut icon" type="image/x-icon" href="{{ setting.icon.url }}">
{% endblock %}

{% block content %}
<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <a href="/"><i class="fa fa-home"></i>ANA SAYFA</a>
                    <a href="/menu/{{ content.menu_id }}/{{ content.menu.slug }}">{{ content.menu }}</a>
                    <span>{{ content.title }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->

<!-- Blog Details Section Begin -->
<section class="blog-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog-details-inner">
                    <div class="blog-detail-title">
                        <h2>{{ content.title }}</h2>
                        <p>{{ content.type }} <span>- {{ content.update_at }}</span></p>
                    </div>
                    <div class="blog-large-pic">
                        <img src="{{content.image.url}}" alt="">
                    </div>
                    <div class="blog-detail-desc">
                        <p>{{ content.description }}</p>
                    </div>
                    <!--<div class="blog-quote">
                        <p>{{ content.description }}<span>- Steven Jobs</span></p>
                    </div>-->
                    <p>{{ content.detail | safe }}</p>
                    <div class="blog-more">
                        <div class="row">
                            <!--                           <div class="col-sm-4">
                                                           <img src="img/blog/blog-detail-1.jpg" alt="">
                                                       </div>
                                                       <div class="col-sm-4">
                                                           <img src="img/blog/blog-detail-2.jpg" alt="">
                                                       </div>
                                                       <div class="col-sm-4">
                                                           <img src="img/blog/blog-detail-3.jpg" alt="">
                                                       </div>-->
                            <div class="col-lg-8 offset-lg-1">
                                <div class="product-slider owl-carousel">
                                    {% for rs in imagens %}
                                    <div class="product-item">
                                        <div class="pi-pic">
                                            <img src="{{rs.image.url}}" alt="" style="height:200px">
                                            <div class="icon">
                                                <i class="icon_heart_alt"></i>
                                            </div>
                                            <ul>
                                                <li class="w-icon active">
                                                    <a href="#"><i class="fa fa-search"></i> Büyüt</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tag-share">
                        <div class="details-tag">
                            <i class="fa fa-tags"></i>
                            <a>{{ content.keywords }}</a>
                            <!--                            <ul>
                                                            <li><i class="fa fa-tags"></i></li>
                                                            <li>Travel</li>
                                                            <li>Beauty</li>
                                                            <li>Fashion</li>
                                                        </ul>-->
                        </div>
                        <div class="blog-share">
                            <span>Share:</span>
                            <div class="social-links">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                            </div>
                        </div>
                    </div>

                    <!--<div class="blog-post">
                        <div class="row">
                            <div class="col-lg-5 col-md-6">
                                <a href="#" class="prev-blog">
                                    <div class="pb-pic">
                                        <i class="ti-arrow-left"></i>
                                        <img src="img/blog/prev-blog.png" alt="">
                                    </div>
                                    <div class="pb-text">
                                        <span>Previous Post:</span>
                                        <h5>The Personality Trait That Makes People Happier</h5>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-5 offset-lg-2 col-md-6">
                                <a href="#" class="next-blog">
                                    <div class="nb-pic">
                                        <img src="img/blog/next-blog.png" alt="">
                                        <i class="ti-arrow-right"></i>
                                    </div>
                                    <div class="nb-text">
                                        <span>Next Post:</span>
                                        <h5>The Personality Trait That Makes People Happier</h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>-->
                    <div class="row">
                        <div class="posted-by col-lg-6">
                            <h4>YORUMLAR</h4>
                            <hr>
                            {% for rs in comments %}
                            <div class="pb-pic">
                                <img src="{% static 'img/blog/post-by.png' %}" alt="">
                            </div>
                            <div class="pb-text">
                                <a href="#">
                                    <h5><i class="fa fa-user-o"></i> {{ rs.user.username }}</h5>
                                </a>
                                <b>{{ rs.subject }}</b>
                                <p>{{ rs.comment }}</p>
                                <b>{{ rs.rate }} ☆</b>
                                <h6><i class="fa fa-clock-o"></i> {{ rs.create_at}}</h6>
                                <hr>
                            </div>
                            {% endfor %}
                        </div>

                        <div class="leave-comment col-lg-6">
                            <h4>YORUM EKLE</h4>

                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-{{message.tags}}" role="alert">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}

                            <form action="/content/addcomment/{{ content.id }}" method="POST" class="comment-form">
                                {% csrf_token %}
                                <div class="row">

                                    <div class="col-lg-6">
                                        <input type="text" placeholder="Name">
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="text" placeholder="Email">
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" name="subject" placeholder="Konu" id="id_subject">
                                    </div>
                                    <div class="col-lg-12">
                                        <textarea name="comment" placeholder="Yorum" id="id_comment"></textarea>
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <!--<div class="col-lg-9">
                                                    <button type="submit" class="site-btn">GÖNDER</button>
                                                    </div>-->
                                                <div class="col-lg-3">
                                                    <div class="rate bg-lights py-3 text-white mt-3"
                                                         style="width:180px">
                                                        <!--<h6 class="mb-0">Oy Ver</h6>
                                                         <strong class="text-uppercase">Oy Ver</strong>-->
                                                        <div class="rating">
                                                            <input type="radio" name="rate" value="5" id="5"><label
                                                                for="5">☆</label>
                                                            <input type="radio" name="rate" value="4" id="4"><label
                                                                for="4">☆</label>
                                                            <input type="radio" name="rate" value="3" id="3"><label
                                                                for="3">☆</label>
                                                            <input type="radio" name="rate" value="2" id="2"><label
                                                                for="2">☆</label>
                                                            <input type="radio" name="rate" value="1" id="1"><label
                                                                for="1">☆</label>
                                                        </div>
                                                        <!-- <div class="buttons px-4 mt-0">
                                                             &lt;!&ndash;
                                                             <button class="btn btn-warning btn-block rating-submit">
                                                             Onayla</button>&ndash;&gt;
                                                             <button class="primary-btn">OY VER</button>
                                                             </div>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="buttons px-4 mt-0">
                                        {% if user.id is not None %}
                                        <!--<button class="btn btn-warning btn-block rating-submit">Onayla</button>-->
                                            <button class="primary-btn">GÖNDER</button>
                                        {% else %}
                                            Yorum Eklemek İçin <a href="/login"> Login </a> Olunuz!
                                        {% endif %}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Section End -->

<style type="text/css">
body{

	background-color: #f7f6f6;
}

.card{

	width: 350px;
	border: none;
	box-shadow: 5px 6px 6px 2px #e9ecef;
	border-radius: 12px;
}

.circle-image img{

	border: 6px solid #fff;
    border-radius: 100%;
    padding: 0px;
    top: -28px;
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    z-index: 1;
    background: #e7d184;
    cursor: pointer;

}


.dot {
    height: 18px;
    width: 18px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid #fff;
    top: -48px;
    left: 186px;
    z-index: 1000;
}

.name{
	margin-top: -21px;
	font-size: 18px;
}


.fw-500{
	font-weight: 500 !important;
}


.start{

	color: green;
}

.stop{
	color: red;
}


.rate{

	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;

}



.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 30px;
    font-weight: 300;
    color: #FFD600;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}


.buttons{
	top: 0px;
	left: 10px;
    position: relative;
}


.rating-submit{
	border-radius: 15px;
	color: #fff;
	height: 49px;
}


.rating-submit:hover{

	color: #fff;
}

</style>


{% endblock %}