{% load static %}

<!--<section class="latest-blog spad">
</section>-->
<div class="row">
<hr>
</div>

<!-- Deal Of The Week Section Begin-->
<section class="deal-of-week set-bg spad" data-setbg="{% static 'img/time-bg.jpg' %}">
    <div class="container">
        <div class="col-lg-6 text-center">
            <div class="section-title">
                <h2>Deal Of The Week</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed<br/> do ipsum dolor sit amet,
                    consectetur adipisicing elit </p>
                <div class="product-price">
                    $35.00
                    <span>/ HanBag</span>
                </div>
            </div>
            <div class="countdown-timer" id="countdown">
                <div class="cd-item">
                    <span>56</span>
                    <p>Days</p>
                </div>
                <div class="cd-item">
                    <span>12</span>
                    <p>Hrs</p>
                </div>
                <div class="cd-item">
                    <span>40</span>
                    <p>Mins</p>
                </div>
                <div class="cd-item">
                    <span>52</span>
                    <p>Secs</p>
                </div>
            </div>
            <a href="#" class="primary-btn">Shop Now</a>
        </div>
    </div>
</section>
<!-- Deal Of The Week Section End -->

<!-- Latest Blog Section Begin -->
<section class="latest-blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>EN SON İÇERİKLER</h2>
                </div>
            </div>
        </div>
        <div class="row">
<!--        <div class="product-item">
                <div class="pi-pic">
                    <img src="{% static 'img/products/women-4.jpg' %}" alt="">
                    <div class="icon">
                        <i class="icon_heart_alt"></i>
                    </div>
                    <ul>
                        <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                        <li class="quick-view"><a href="#">+ Quick View</a></li>
                        <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                    </ul>
                </div>
                <div class="pi-text">
                    <div class="catagory-name">Towel</div>
                    <a href="#">
                        <h5>Converse Shoes</h5>
                    </a>
                    <div class="product-price">
                        $34.00
                    </div>
                </div>
            </div>-->

            {% for rs in lastcontents %}
            <div class="col-lg-3 col-md-6">
                <div class="single-latest-blog">
                    <img src="{{rs.image.url}}" alt="" style="height:200px">
                    <div class="latest-text">
                        <div class="tag-list">
                            <div class="tag-item">
                                <i class="fa fa-calendar-o"></i>
                                {{rs.update_at}}
                            </div>
                            <div class="tag-item">
                                <i class="fa fa-comment-o"></i>
                                5
                            </div>
                        </div>
                        <a href="/content/{{ rs.id }}/{{ rs.slug }}">
                            <h4>{{rs.title}}</h4>
                        </a>
                        <p>{{rs.description}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Latest Blog Section End -->

<!-- Random Blog Section Begin -->
<section class="latest-blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>RASGELE İÇERİKLER</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for rs in randomcontents %}
            <div class="col-lg-3 col-md-6">
                <div class="single-latest-blog">
                    <img src="{{rs.image.url}}" alt="" style="height:200px">
                    <div class="latest-text">
                        <div class="tag-list">
                            <div class="tag-item">
                                <i class="fa fa-calendar-o"></i>
                                {{rs.update_at}}
                            </div>
                            <div class="tag-item">
                                <i class="fa fa-comment-o"></i>
                                5
                            </div>
                        </div>
                        <a href="/content/{{ rs.id }}/{{ rs.slug }}">
                            <h4>{{rs.title}}</h4>
                        </a>
                        <p>{{rs.description}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Random Blog Section End -->
