{% load static %}

<!-- Header Section Begin -->
<header class="header-section">
    <div class="header-top">
        <div class="container">
            <div class="ht-left">
                <div class="mail-service">
                    <i class=" fa fa-envelope"></i>
                    django.apartman@gmail.com
                </div>
                <div class="phone-service">
                    <i class=" fa fa-phone"></i>
                    +90 312 999.88.77
                </div>
            </div>

            <div class="ht-right">
                <div class="row">
                    <div class="lan-selector">
                        <select class="language_drop" name="countries" id="countries" style="width:300px;">
                            <option value='yt' data-image="{% static 'img/flag-1.jpg' %}" data-imagecss="flag yt"
                                    data-title="English">English
                            </option>
                            <option value='yu' data-image="{% static 'img/flag-2.jpg' %}" data-imagecss="flag yu"
                                    data-title="Bangladesh">German
                            </option>
                        </select>
                    </div>
                    <div class="top-social">
                        <a href="#"><i class="ti-facebook"></i></a>
                        <a href="#"><i class="ti-twitter-alt"></i></a>
                        <a href="#"><i class="ti-linkedin"></i></a>
                        <a href="#"><i class="ti-pinterest"></i></a>
                    </div>
                    {% if user.id is not None %}
                    <div class="nav-item">
                        <!--<div class="container">-->
                        <nav class="nav-menu mobile-menu">
                            <ul>
                                <li><a href="#"><image src="{{ profile.image.url }}" style="height:30px"></image>{{ user.username }}</a>
                                    <ul class="dropdown">
                                        <li><a href="/user">Hesabım</a></li>
                                        <li><a href="/logout/">Aidatlarım</a></li>
                                        <li><a href="/logout/">Taleplerim</a></li>
                                        <li><a href="/user/comments">Yorumlarım</a></li>
                                        <li><a href="/logout/">ÇIKIŞ</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        <!--</div>-->
                    </div>
                    {% else %}
                    <div class="nav-item">
                        <!--<div class="container">-->
                        <nav class="nav-menu mobile-menu">
                            <ul>
                                <li><a><i class="fa fa-user-o"></i></a>
                                    <ul class="dropdown" >
                                        <li><a href="/login/">LOGIN</a></li>
                                        <li><a href="/signup/">SIGN UP</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        <!--</div>-->
                    </div>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="inner-header">
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <div class="logo">
                        <a href="./index.html">
                            <img src="{% static 'img/logo.png' %}" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-lg-7 col-md-7">
                    <div class="advanced-search">
                        <form action="/search/" method="post" style="height:50px">
                            <!--<button type="button" class="category-btn">All Categories</button>-->
                            {% csrf_token %}
                            {% load mptt_tags %}
                            <select name="menuid" class="category-btn" style="height:50px; border:thin solid black">
                                <option value="0">MENÜLER</option>
                                {% recursetree menu %}
                                {% if node.is_leaf_node %}
                                <option value="{{ node.id }}">{{node.title}}</option>
                                {% endif %}
                                {% if not node.is_leaf_node %}
                                <optgroup label="{{ node.title }}">
                                    {{ children }}
                                </optgroup>
                                {% endif %}
                                {% endrecursetree %}
                            </select>

                            <div class="input-group" style="border:thin solid black">
                                <input id="query" name="query" type="text" placeholder="ARAMA METNİ"
                                       STYLE="color:black">
                                <button><i class="ti-search"></i></button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-lg-3 text-right col-md-3">
                    <ul class="nav-right">
                        <li class="heart-icon">
                            <a href="#">
                                <i class="icon_heart_alt"></i>
                                <span>1</span>
                            </a>
                        </li>
                        <li class="cart-icon">
                            <a href="#">
                                <i class="icon_bag_alt"></i>
                                <span>3</span>
                            </a>
                            <div class="cart-hover">
                                <div class="select-items">
                                    <table>
                                        <tbody>
                                        <tr>
                                            <td class="si-pic"><img src="{% static 'img/select-product-1.jpg' %}"
                                                                    alt=""></td>
                                            <td class="si-text">
                                                <div class="product-selected">
                                                    <p>$60.00 x 1</p>
                                                    <h6>Kabino Bedside Table</h6>
                                                </div>
                                            </td>
                                            <td class="si-close">
                                                <i class="ti-close"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="si-pic"><img src="{% static 'img/select-product-2.jpg' %}"
                                                                    alt=""></td>
                                            <td class="si-text">
                                                <div class="product-selected">
                                                    <p>$60.00 x 1</p>
                                                    <h6>Kabino Bedside Table</h6>
                                                </div>
                                            </td>
                                            <td class="si-close">
                                                <i class="ti-close"></i>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="select-total">
                                    <span>total:</span>
                                    <h5>$120.00</h5>
                                </div>
                                <div class="select-button">
                                    <a href="#" class="primary-btn view-card">VIEW CARD</a>
                                    <a href="#" class="primary-btn checkout-btn">CHECK OUT</a>
                                </div>
                            </div>
                        </li>
                        <li class="cart-price">$150.00</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-item">
        <div class="container">

            {% block sidebar %} {% include 'sidebar.html' %} {% endblock %}

            <nav class="nav-menu mobile-menu">
                <ul>
                    <li class="active"><a href="/">ANA SAYFA</a></li>
                    <li><a href="#">Pages</a>
                        <ul class="dropdown">
                            <li><a href="./blog-details.html">Blog Details</a></li>
                            <li><a href="./shopping-cart.html">Shopping Cart</a></li>
                            <li><a href="./check-out.html">Checkout</a></li>
                            <li><a href="./faq.html">Faq</a></li>
                            <li><a href="./register.html">Register</a></li>
                            <li><a href="./login.html">Login</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"> Treeview menu </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#"> Dropdown item 1 </a></li>
                                    <li><a class="dropdown-item" href="#"> Dropdown item 2 &raquo </a>
                                        <ul class="submenu dropdown-menu">
                                            <li><a class="dropdown-item" href="">Submenu item 1</a></li>
                                            <li><a class="dropdown-item" href="">Submenu item 2</a></li>
                                            <li><a class="dropdown-item" href="">Submenu item 3 &raquo </a>
                                                <ul class="submenu dropdown-menu">
                                                    <li><a class="dropdown-item" href="">Multi level 1</a></li>
                                                    <li><a class="dropdown-item" href="">Multi level 2</a></li>
                                                </ul>
                                            </li>
                                            <li><a class="dropdown-item" href="">Submenu item 4</a></li>
                                            <li><a class="dropdown-item" href="">Submenu item 5</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="#"> Dropdown item 3 </a></li>
                                    <li><a class="dropdown-item" href="#"> Dropdown item 4 </a>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="/hakkimizda">HAKKIMIZDA</a></li>
                    <li><a href="/referanslar">REFERANSLAR</a></li>
                    <li><a href="/iletisim">İLETİŞİM</a></li>
                </ul>
            </nav>
            <div id="mobile-menu-wrap"></div>
        </div>
    </div>
</header>
