{% load static %}

<div class="nav-depart">
    <div class="depart-btn">
        <i class="ti-menu"></i>
        <span data-toggle="dropdown">MENÜLER</span>
        <!--<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"> Treeview menu </a>-->
        {% load mptt_tags %}
        <ul class="dropdown-menu">
            {% recursetree menu %}
            <!--<li><a class="dropdown-item" href="#"> {{ node.name }} </a></li>-->
            <li>
                <a class="dropdown-item" {% if node.is_leaf_node %} href="/menu/{{ node.id }}/{{ node.slug }}" {% endif %}>
                    {{node.title}}{% if not node.is_leaf_node %}&raquo{% endif %}
                </a>
                {% if not node.is_leaf_node %}
                <ul class="submenu dropdown-menu">
                    <li><a class="dropdown-item" href="#">{{children}}</a></li>
                </ul>
                {% endif %}
            </li>
            {% endrecursetree %}
        </ul>
    </div>
</div>
