<!-- Man Banner Section Begin -->
<section class="man-banner spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="filter-control">
                    <ul>
                        <li class="active">Clothings</li>
                        <li>HandBag</li>
                        <li>Shoes</li>
                        <li>Accessories</li>
                    </ul>
                </div>
                <div class="product-slider owl-carousel">
                    {% for rs in imagens %}
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="{{rs.image.url}}" alt="">
                            <div class="icon">
                                <i class="icon_heart_alt"></i>
                            </div>
                            <ul>
                                <li class="w-icon active">
                                    <a href="#"><i class="fa fa-search"></i> Büyüt</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1">
                <div class="product-large set-bg m-large" data-setbg="img/products/man-large.jpg">
                    <h2>Men’s</h2>
                    <a href="#">Discover More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Man Banner Section End -->


<!-- Urun Yorum Ekle Oy Verme Listeleme Login Kontrolu Begin -->
<div class="row">
    <div class="posted-by col-lg-6">
        <h4>YORUMLAR</h4>
        <hr>
        {% for rs in comments %}
        <div class="pb-pic">
            <img src="{% static 'img/blog/post-by.png' %}" alt="">
        </div>
        <div class="pb-text">
            <a href="#">
                <h5><i class="fa fa-user-o"></i> {{ rs.user.username }}</h5>
            </a>
            <b>{{ rs.subject }}</b>
            <p>{{ rs.comment }}</p>
            <b>{{ rs.rate }} ☆</b>
            <h6><i class="fa fa-clock-o"></i> {{ rs.create_at}}</h6>
            <hr>
        </div>
        {% endfor %}
    </div>

    <div class="leave-comment col-lg-6">
        <h4>YORUM EKLE</h4>

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}}" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        <form action="/content/addcomment/{{ content.id }}" method="POST" class="comment-form">
            {% csrf_token %}
            <div class="row">

                <div class="col-lg-6">
                    <input type="text" placeholder="Name">
                </div>
                <div class="col-lg-6">
                    <input type="text" placeholder="Email">
                </div>
                <div class="col-lg-12">
                    <input type="text" name="subject" placeholder="Konu" id="id_subject">
                </div>
                <div class="col-lg-12">
                    <textarea name="comment" placeholder="Yorum" id="id_comment"></textarea>
                    <div class="col-lg-12">
                        <div class="row">
                            <!--<div class="col-lg-9">
                                <button type="submit" class="site-btn">GÖNDER</button>
                                </div>-->
                            <div class="col-lg-3">
                                <div class="rate bg-lights py-3 text-white mt-3"
                                     style="width:180px">
                                    <!--<h6 class="mb-0">Oy Ver</h6>
                                     <strong class="text-uppercase">Oy Ver</strong>-->
                                    <div class="rating">
                                        <input type="radio" name="rate" value="5" id="5"><label
                                            for="5">☆</label>
                                        <input type="radio" name="rate" value="4" id="4"><label
                                            for="4">☆</label>
                                        <input type="radio" name="rate" value="3" id="3"><label
                                            for="3">☆</label>
                                        <input type="radio" name="rate" value="2" id="2"><label
                                            for="2">☆</label>
                                        <input type="radio" name="rate" value="1" id="1"><label
                                            for="1">☆</label>
                                    </div>
                                    <!-- <div class="buttons px-4 mt-0">
                                         &lt;!&ndash;
                                         <button class="btn btn-warning btn-block rating-submit">
                                         Onayla</button>&ndash;&gt;
                                         <button class="primary-btn">OY VER</button>
                                         </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="buttons px-4 mt-0">
                    {% if user.id is not None %}
                    <!--<button class="btn btn-warning btn-block rating-submit">Onayla</button>-->
                    <button class="primary-btn">GÖNDER</button>
                    {% else %}
                    Yorum Eklemek İçin <a href="/login"> Login </a> Olunuz!
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Urun Yorum Ekle Oy Verme Listeleme Login Kontrolu End -->


<!-- Urun Arama Begin -->
<div class="col-lg-7 col-md-7">
    <div class="advanced-search">
        <form action="/search/" method="POST" style="height:50px">
            {% csrf_token %}
            <!--<button type="button" class="category-btn">All Categories</button>-->
            <select class="category-btn" style="height:50px; border:thin solid black">
                <option value="0">İÇERİKLER</option>
                <!--                                <option value="1">Menu 01</option>
                                                <option value="2">Menu 02</option>-->
            </select>
            <div class="input-group" style="border:thin solid black">
                <input name="query" type="text" placeholder="ARAMA METNİ" STYLE="color:black">
                <button><i class="ti-search"></i></button>
            </div>
        </form>
    </div>
</div>
<!-- Urun Arama End -->

<!-- Dropdown Test Begin -->
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"> Treeview menu </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#"> Dropdown item 1 </a></li>
        <li><a class="dropdown-item" href="#"> Dropdown item 2 &raquo </a>
            <ul class="submenu dropdown-menu">
                <li><a class="dropdown-item" href="">Submenu item 1</a></li>
                <li><a class="dropdown-item" href="">Submenu item 2</a></li>
                <li><a class="dropdown-item" href="">Submenu item 3 &raquo </a>
                    <ul class="submenu dropdown-menu">
                        <li><a class="dropdown-item" href="">Multi level 1</a></li>
                        <li><a class="dropdown-item" href="">Multi level 2</a></li>
                    </ul>
                </li>
                <li><a class="dropdown-item" href="">Submenu item 4</a></li>
                <li><a class="dropdown-item" href="">Submenu item 5</a></li>
            </ul>
        </li>
        <li><a class="dropdown-item" href="#"> Dropdown item 3 </a></li>
        <li><a class="dropdown-item" href="#"> Dropdown item 4 </a>
    </ul>
</li>
<!-- Dropdown Test End -->