{% load static %}

<section class="section spad">
    <div class="container">
        <div class="row">
            <!--<div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1">-->
                <div class="blog-sidebar">
                    <div class="blog-category">
                        <!--<h4>MENU</h4>-->
                        <ul>
                            <li><a href="/user"><h6>Üye Bilgisi</h6></a></li>
                            <li><a href="/user/payments"><h6>Aidatlarım</h6></a></li>
                            <li><a href="/user/demands"><h6>Taleplerim</h6></a></li>
                            <li><a href="/user/comments"><h6>Yorumlarım</h6></a></li>
                            <li><a href="/user/contents"><h6>İçeriklerim</h6></a></li>
                            <li><a href="/logout/"><h6>ÇIKIŞ</h6></a></li>
                        </ul>
                    </div>
                </div>
            <!--</div>-->
        </div>
    </div>
</section>
