<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cart-table">
                    <table>
                        <thead>

                        <tr>
                            <th class="text-left">
                                <a href="/user/update" class="primary-btn">Update Profile</a>
                                <a href="/user/password" class="primary-btn">Change Password</a>
                            </th>
                        </tr>

                        <tr>
                            <th></th>
                            <td class="text-left"><img src="{{profile.image.url}}" alt=""></td>
                        </tr>
                        <tr>
                            <th>Name Surname</th>
                            <td class="text-left">
                                <h5>{{profile.user_name}}</h5>
                            </td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td class="text-left">{{profile.user.email}}</td>
                        </tr>
                        <tr>
                            <th>Phone</th>
                            <td class="text-left">{{profile.phone}}</td>
                        </tr>
                        <tr>
                            <th>Address</th>
                            <td class="text-left">{{profile.address}}</td>
                        </tr>
                        <tr>
                            <th>City</th>
                            <td class="text-left">{{profile.city}}</td>
                        </tr>
                        <tr>
                            <th>Country</th>
                            <td class="text-left">{{profile.country}}</td>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shopping Cart Section End -->