{% load static %}

<section class="section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1">
                <div class="blog-sidebar">
                    <div class="blog-category">
                        <h4>Categories</h4>
                        <ul>
                            <li><a href="#">User Profile</a></li>
                            <li><a href="#">Aidatlarım</a></li>
                            <li><a href="#">Taleplerim</a></li>
                            <li><a href="#">Favorilerim</a></li>
                            <li><a href="/logout/">ÇIKIŞ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
